body,
html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    #02020f 5.23%,
    #221e53 73.59%,
    #0f0a57 96.16%
  );
}

$size: 400px;
$height: 250px;
$thick: 20px;
$rgb-gradient-h: linear-gradient(
  90deg,
  #ea346e 0%,
  #e8bf50 5%,
  #74f74c 10%,
  #6ef2f4 15%,
  #3d68f6 20%,
  #ea3ef6 25%,
  #3d68f6 30%,
  #6ef2f4 35%,
  #74f74c 40%,
  #e8bf50 45%,
  #ea346e 50%,
  #e8bf50 55%,
  #74f74c 60%,
  #6ef2f4 65%,
  #3d68f6 70%,
  #ea3ef6 75%,
  #3d68f6 80%,
  #6ef2f4 85%,
  #74f74c 90%,
  #e8bf50 95%,
  #ea346e 100%
);
$rgb-gradient-v: linear-gradient(
  0deg,
  #ea346e 0%,
  #e8bf50 5%,
  #74f74c 10%,
  #6ef2f4 15%,
  #3d68f6 20%,
  #ea3ef6 25%,
  #3d68f6 30%,
  #6ef2f4 35%,
  #74f74c 40%,
  #e8bf50 45%,
  #ea346e 50%,
  #e8bf50 55%,
  #74f74c 60%,
  #6ef2f4 65%,
  #3d68f6 70%,
  #ea3ef6 75%,
  #3d68f6 80%,
  #6ef2f4 85%,
  #74f74c 90%,
  #e8bf50 95%,
  #ea346e 100%
);

.room {
  transform: scaleY(0.5) translateY(25%);

  .floor {
    width: $size;
    height: $size;
    transform: rotate(45deg);
    background: linear-gradient(135deg, #1a2c47 0.04%, #51226c 100.04%);
    position: relative;

    box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.8),
      50px 50px 70px rgba(0, 0, 0, 0.5), 60px 60px 80px rgba(0, 0, 0, 0.3);

    .wall.wall-left {
      width: $height;
      height: $size;
      position: absolute;
      right: 100%;
      transform: skewY(45deg);
      transform-origin: right bottom;
    }
    .wall.wall-right {
      width: $size;
      height: $height;

      position: absolute;
      bottom: 100%;
      left: 0;
      transform: skewX(45deg);
      transform-origin: left bottom;
    }
  }
}

.wall-left {
  background: linear-gradient(180deg, #1a2c47 0.04%, #51226c 100.04%);

  .w-front {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    & > .rgb-line {
      width: 5px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: red;
      &::after {
        flex-shrink: 0;
        content: "";
        height: 400%;
        width: 100%;
        position: absolute;
        background-color: red;
        background-image: $rgb-gradient-v;
        background-size: 100%;
        animation: rgbRoll 2s linear 0s infinite normal;
        background-repeat: repeat-x;
        @keyframes rgbRoll {
          from {
            transform: translateY(0%);
          }
          to {
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .w-left {
    width: 100%;
    height: $thick;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: left top;
    transform: skewX(-45deg);
    background: linear-gradient(
      90deg,
      #020d34 0%,
      #431b5c 56.25%,
      #151757 100%
    );
  }
  .w-top {
    width: $thick;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #070532;
    transform-origin: right bottom;
    transform: skewY(-45deg);
  }
}

.wall-right {
  background-color: #37176d;
  .w-front {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      #192b40 0.04%,
      #221e53 47.44%,
      #37176d 100.04%
    );

    & > .rgb-line {
      height: 5px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;

      overflow: hidden;
      // background-color: red;
      &::after {
        flex-shrink: 0;
        content: "";
        width: 400%;
        height: 100%;
        position: absolute;
        background-image: $rgb-gradient-h;
        background-size: 100%;
        animation: rgbRoll2 2s linear 0s infinite normal;
        background-repeat: repeat-x;
        @keyframes rgbRoll2 {
          from {
            transform: translateX(-50%);
          }
          to {
            transform: translateX(0%);
          }
        }
      }
    }
  }
  .w-top {
    position: absolute;
    width: 100%;
    height: $thick;
    background-color: #070532;
    bottom: 100%;
    left: 0;
    transform-origin: left bottom;
    transform: skewX(-45deg);

    &::after {
      content: "";
      position: absolute;
      width: $thick;
      height: $thick;
      right: 100%;
      background-color: #070532;
    }
  }
  .w-right {
    position: absolute;
    width: $thick;
    height: 100%;
    left: 100%;
    top: 0;
    transform-origin: left top;
    transform: skewY(-45deg);
    background: linear-gradient(
      360deg,
      #1e0a3f 0%,
      #220a46 56.25%,
      #15062d 100%
    );
  }
}

.floor-w-left {
  width: 100%;
  height: $thick;
  position: absolute;
  top: 100%;
  // background-color: red;
  left: 0;
  transform-origin: left top;
  transform: skewX(45deg);
  background: linear-gradient(180deg, #020a33 0%, #020e3a 49.48%, #111020 100%);

  &::after {
    content: "";
    width: $thick;
    height: $thick;
    background-color: #020a33;
    position: absolute;
    right: 100%;
    top: 0;
  }
}
.floor-w-right {
  width: $thick;
  height: 100%;
  position: absolute;
  top: 0;
  // background-color: red;
  left: 100%;
  transform-origin: left bottom;
  transform: skewY(45deg);
  background: linear-gradient(180deg, #110628 0%, #1c083e 53.12%, #14062d 100%);

  &::after {
    content: "";
    width: $thick;
    height: $thick;
    background-color: #14062d;
    position: absolute;
    bottom: 100%;
    left: 0;
  }
}

.desk {
  width: 100px;
  height: 50%;
  position: absolute;
  bottom: 110px;
  left: -100px;
  background-color: #3c3153;
  transform: perspective(1000px) translateZ(50px);

  box-shadow: 30px 100px 50px rgba(0, 0, 0, 0.8);
  .d-left {
    position: absolute;
    width: 100%;
    height: 8px;
    top: 100%;
    left: 0;
    transform-origin: left top;
    transform: skewX(45deg);
    background-color: #272231;
  }
  .d-right {
    position: absolute;
    width: 8px;
    height: 100%;
    left: 100%;
    top: 0;
    transform-origin: left bottom;
    transform: skewY(45deg);
    background-color: #2d2738;

    .rgb-line {
      position: absolute;
      left: 100%;
      top: 5px;
      width: 2px;
      height: calc(100% - 10px);
      display: flex;
      overflow: hidden;
      border-radius: 50%;
      &::after {
        content: "";
        width: 100%;
        height: 800%;
        // background-color: #fff;
        background-image: $rgb-gradient-v;
        animation: rgbRoll 4s linear 0s infinite normal;
        @keyframes rgbRoll {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

//
.desk-foot-box {
  width: 95px;
  height: 50px;
  background-color: red;
  position: absolute;
  left: -95px;
  bottom: calc(50% + 55px);

  .d-left {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100%;
    background-color: #1f1727;
    transform-origin: right top;
    transform: skewX(45deg);
  }
  .d-right {
    height: 100%;
    width: 100px;
    position: absolute;
    left: 100%;
    background-color: #0f0d25;
    transform-origin: left bottom;
    transform: skewY(45deg);
    display: flex;
    padding-left: 20%;

    .col-1,
    .col-2 {
      width: 40%;
      height: 90%;
      background-color: #221c45;
      margin-top: 2%;
      margin-left: 5%;
      position: relative;
      &::before {
        content: "";
        width: 6px;
        height: 12px;
        background-color: #8e98a1;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-70%) skewY(-45deg);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &::after {
        content: "";
        width: 3px;
        height: 8px;
        background-color: #221c45;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-70%) skewY(-45deg);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
}
.desk-foot {
  width: 4px;
  height: 4px;
  background-color: red;
  position: absolute;
  &::before {
    width: 100%;
    height: 100px;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: right top;
    transform: skewX(45deg);
  }
  &::after {
    height: 100%;
    width: 100px;
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    transform-origin: left bottom;
    transform: skewY(45deg);
  }

  &.df-1 {
    bottom: 120px;
    left: -90px;

    &::before {
      background-color: #0e101d;
      box-shadow: 20px 80px 50px rgba(0, 0, 0, 0.8);
    }
    &::after {
      background-color: #231057;
    }
  }

  &.df-2 {
    bottom: 120px;
    left: -10px;

    &::before {
      background-color: #0e101d;
      box-shadow: 20px 80px 50px rgba(0, 0, 0, 0.8);
    }
    &::after {
      background-color: #231057;
    }
  }
}

$screen-wall-distance: 30px;
$screen-desktop-distance: 20px;
.desk .display {
  width: $screen-wall-distance;
  height: 140px;
  // background-color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  .base {
    width: 30px;
    height: 50px;
    background-color: #070532;
    position: absolute;
    left: $screen-wall-distance / 2;
    top: 50%;
    transform: translateY(-50%);
    background: #0c2229;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      top: 100%;
      left: 0;
      transform-origin: right top;
      transform: skewX(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: #000;
      left: 100%;
      top: 0;
      transform-origin: left bottom;
      transform: skewY(45deg);
    }
  }

  .stand-con {
    width: 8px;
    height: 14px;
    // background-color: red;
    position: absolute;
    top: 50%;
    left: $screen-wall-distance / 2 + 3px;
    transform: translateY(-50%);
    .stand-wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      // background-color: rebeccapurple;
      transform-origin: right bottom;
      transform: skewY(45deg);

      .stand {
        width: 50px;
        height: 100%;
        background-color: #111216;
        position: absolute;
        right: 0;
        top: 0;

        &::after {
          content: "";
          width: 100%;
          height: 6px;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #1d1e24;
          transform-origin: right top;
          transform: skewX(-45deg);
        }
      }
    }
  }

  .screen-con {
    position: absolute;
    width: 100%;
    height: 100%;
    // left: calc(100% + 20px);
    left: 0%;
    top: 0;
    // background-color: yellowgreen;
    transform-origin: right top;
    transform: skewY(45deg);

    & .screen {
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      right: $screen-desktop-distance;
      padding: 2px;
      background-color: #02020f;

      box-shadow: -20px 20px 70px rgba(0, 255, 100, 0.5),
        -50px 50px 80px rgba(255, 255, 0, 0.4),
        10px 20px 50px rgba(0, 255, 30, 0);

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        width: 100%;
        height: 100%;
        background-color: #1b1b1b;
      }

      span {
        display: inline-block;

        transform: rotate(-90deg);
        color: #fff;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        top: 100%;
        background-color: #0b0b31;
        transform-origin: left top;
        transform: skewX(-45deg);
      }
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 5px;
        top: 0;
        right: 100%;
        background: linear-gradient(
          180deg,
          #1b3324 0%,
          #22521f 50%,
          #265a1d 100%
        );
        transform-origin: right bottom;
        transform: skewY(-45deg);
      }
    }
  }
}
